@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-josefin;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .max-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}
